.li-outline{
    width : 100%
}
.inputFile{
    text-align: center;
}
.panel-heading{
    text-align: center;
}

button.btn.btn-default.li-outline {
    font-size: medium;
    font-weight: 500;
    text-align: left;
}

.ngoai {
    position: relative;
}   

.form-inline.conxx {
    position: absolute;
    top: 45px;
    left: 455px;
}

div#studentName {
    color: tomato;
    font-size: medium;
    padding-right: 180px;
    padding-top: 5px;
    font-weight: 600;
}

.form-group.formxx2 {
    margin-left: 5px;
}

.form-group.okok {
    margin-left: 5px;
}

h3.titlexyz {
    margin-bottom: 61px;
    margin-top: 0px;
}

.con1 {
    position: absolute;
    top: 25px;
    right: -17px;
}

.dropdown.xoxuong {
    padding-bottom: 3px;
}

strong.uploadtitle {
    color: tomato;
    font-size: initial;
}

.btnupup {
    font-size: unset;
    font-weight: 600;
    padding: 1px;
}

strong.providekey {
    font-size: medium;
    color: tomato;
}

tbody.maincontentpoj {
    font-size: medium;
}

.turnright{
    text-align: right;
}